body {
    background-color: rgb(248, 248, 248);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.vertical {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.brand-title {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-brand img {
    margin-top: -7px;
    max-width: 100px;
}

footer .navbar-brand {
    color: white;
}

footer .first {
    font-size: 15px;
}

footer .second p {
    float: left;
    font-size: 14px;
    color: rgb(220, 220, 200);
}

footer {
    background-color: rgb(34, 32, 28);
}

footer .first {
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(50, 47, 41);
}

footer .navbar-brand {
    float: none;
}

footer .first .header {
    color: rgb(255, 255, 255);
    padding-bottom: 18px;
}

footer .second ul.social {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
}

footer .second .social a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 28px;
}

footer .second {
    margin-top: 20px;
    padding-bottom: 20px;
}

footer .social {
    float: right;
}

.signup {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #000;
}

.main-image {
    width: 100%;
    height: auto;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

h1 {
    font-size: 35px;
}

.fb_iframe_widget {
    display: inline-block;
}

h3 {
    color: #778384;
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 20px;
}


/* Paragraph & Typographic */

p {
    line-height: 28px;
    font-size: 16px;
    color: rgb(94, 104, 104);
}

.centered {
    text-align: center;
}


/* Links */

a {
    color: #3498db;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.headerstyle .navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}

.headerstyle .navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
}


/* Helpers */

.mt {
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-control {
    height: 42px;
    font-size: 18px;
    width: 280px;
}

i {
    margin: 8px;
    color: #3498db;
}


/* HeaderWrap */

#headerwrap {
    /*background: url(../img/bg01.jpg) no-repeat center top; */
    background-color: #ffffff;
    background-attachment: relative;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headerstyle {
    /* background: */
    background-image: linear-gradient(-134deg, #FF9800 0%, #F76B1C 100%);
}

.headerstyle a {
    color: white;
}

#headerwrap h1 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: rgb(48, 48, 48);
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}

#headerwrap h3 {
    margin-top: 15px;
    margin-bottom: 35px;
    color: rgb(130, 130, 130);
    letter-spacing: 1px;
    text-align: center;
}

#headerwrap.headerstyle h1,
#headerwrap.headerstyle div h3 {
    color: white;
}

.headerstyle h1 {
    color: white;
}

.orange {
    background-image: linear-gradient(-134deg, #FF9800 0%, #F76B1C 100%);
}

.white {
    background-color: white;
}

.feature {
    overflow: hidden;
}

.feature div {
    text-align: left;
}

p .li {
    display: list-item;
    display: relative;
    margin-left: 2em;
    list-style: none;
}

.shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: none;
    -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2))
}

.big-image img,
.small-image img {
    width: 100%;
}

.mirrored {
    direction: ltr;
}

.mirrored .big-image {
    text-align: right;
}

@media (max-width: 768px) {
    .big-image img,
    .small-image img {
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-brand {
        padding-left: 0px;
    }
    footer .header {
        margin-top: 20px;
    }
    footer .row {
        margin: auto;
    }
    footer .row.second {
        margin-top: 20px;
    }
    .main-image-title {
        text-align: center;
        opacity: 0.4;
        margin-top: 30px;
        font-size: 12px;
    }
    .main-image {
        margin-top: -10px;
    }
    #headerwrap h1 {
        font-size: 32px;
    }
    #headerwrap h3 {
        font-size: 20px;
    }
    .nav li a {
        padding: 10px 5px;
    }
}

@media (min-width: 768px) {
    .big-image {
        margin-left: 12%;
        width: 184%;
    }
    .navbar-default {
        padding-left: 36px;
        padding-right: 36px;
    }
    .mirrored .big-image {
        margin-left: 0px;
        margin-right: 12%;
    }
    .mirrored .small-image {
        text-align: center;
    }
    .sideimage {}
    .center-v {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .main-image-title {
        text-align: center;
        opacity: 0.4;
        margin-top: 30px;
    }
    .main-image {
        margin-top: -20px;
    }
    #headerwrap h1 {
        font-size: 46px;
    }
    #headerwrap h3 {
        font-size: 24px;
    }
}

.btn-mas {
    width: 186px;
    margin-top: 25px;
}

@media (min-width: 442px) {
    .btn-mas2 {
        margin-left: 20px;
    }
    .img-front-main {
        max-width: 1152px;
        width: 100%;
        height: auto;
    }
    .img-front-mobile {
        display: none;
    }
}

@media (max-width: 442px) {
    .img-front-main {
        display: none;
    }
    .img-front-mobile {
        max-width: 1152px;
        width: 100%;
        height: auto;
    }
    .navbar-right {
        display: none;
    }
}

.navbar-right {
    padding-top: 18px;
}

.bottom {
    width: 100%;
    bottom: 0;
    left: 0;
}

.imprint-wrapper {
    min-height: calc(100% - 179px);
}

.imprint-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.twitter-follow-button,
.twitter-mention-button {
    margin-top: 5px;
}

.fb-like {
    line-height: 12px;
}

.bottom .navbar-brand {
    font-size: 1.2em;
}

.bottom .navbar-brand img {
    max-width: 40px;
}

.customNav {
    position: relative;
    z-index: 9;
}

.bottom p {
    text-align: center;
    width: 100%;
}

.apple-disclaimer {
    color: rgb(220, 220, 200);
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 35px;
}

.signuptext {
    font-style: italic;
}

.headerstyle p {
    color: white;
}

.btn-trial {
    /*background: #1797FB;*/
    border: white 1px solid;
    background-color: transparent;
    border-radius: 8px;
    width: 186px;
    height: 45px;
    /* Download Trial: */
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 30px;
    margin-top: 25px;
}

.btn-buy {
    background: #1797FB;
    border: none;
    border-radius: 8px;
    width: 186px;
    height: 45px;
    /* Download Trial: */
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.small-price {
    font-size: 13px;
}

.btn-trial-blue {
    border: #1797FB 1px solid;
    color: #1797FB;
}

.btn-trial:hover {
    color: white;
}

.btn-trial:focus {
    color: white;
}

.btn-trial-blue:hover {
    color: #1797FB;
}

.btn-trial-blue:focus {
    color: #1797FB;
}

.btn-buy:hover {
    color: white;
}

.btn-buy:focus {
    color: white;
}

.btns-front {
    margin-bottom: 40px;
}

.infotext {
    text-align: center;
    font-size: 9pt;
    line-height: 1.3;
    margin-top: 25px;
}

@media (min-width: 992px) {
    .bottomIcon {
        width: 64px;
        height: 64px;
        margin-top: -7px;
    }
}

@media (max-width: 992px) {
    .bottomIcon {
        width: 64px;
        height: 84px;
        padding-bottom: 20px;
    }
    footer .navbar-brand {
        float: left;
    }
}

@media (max-width: 767px) {
    .navbar ul.nav li {
        margin: 0px;
        padding: 0px;
        line-height: 80px !important;
        border-bottom: 1px solid #fff;
    }
    .navbar-collapse .navbar-nav {
        width: 100%;
    }
    .navbar-nav>li {
        float: none;
    }
    .sale {
        width: 290px;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        float: right !important;
    }
    .navbar-header {
        float: left;
    }
    .visible-only-menu {
        display: none !important;
    }
    .sale {
        width: 420px;
    }
}

.navbar-collapse {
    max-height: 410px;
}

.navbar-toggle {
    margin-top: 25px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fff;
}

.navbar ul.nav a,
.navbar-default ul.nav a {
    color: white;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    line-height: 80px;
    margin-left: 50px;
    cursor: pointer;
}

.circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
}

.onweb {
    color: #22201c;
    font-size: 64pt;
    height: 100px;
}

.video-title {
    margin-bottom: 45px;
}

.findustitle {
    text-align: center;
    margin-bottom: 45px;
}

#popup-blackout {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
}

#subscribe-popup .popup-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 57px auto 30px auto;
}

#popup-overlay {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#subscribe-popup {
    width: 643px;
    height: 546px;
    background: #ffffff;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #bbb;
    border-radius: 10px;
}

#subscribe-popup .close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    cursor: pointer;
    color: #cccccc;
}

#subscribe-popup h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 14px 0;
    color: #333;
}

#subscribe-popup .manual-download {
    font-size: 17px;
    text-align: center;
}

#subscribe-popup .subscribe p {
    text-align: center;
    font-size: 17px;
    line-height: 26px;
    color: #bbb;
}

#subscribe-popup .subscribe {
    margin: 56px 20px 30px 20px;
    border-top: 1px solid #EFEFEF;
    padding: 65px 30px;
}

#subscribe-popup .subscribe #subscribe-inputs {
    margin: 36px auto 20px auto;
    display: table;
}