div#test {
    width: 450px;
    height: 330px;
    background: rgba(255,255,255,0);
    margin: 500px auto;
    padding-top: 30px;
    perspective: 1000px;
}

#banner {
    height: 300px;
    width: 400px;
    margin: 0 auto;
    background: #2994C1;
    transition: transform 0.1s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    color: #fff;
}


#banner .ganbei {
    font-size: 20px;
}


html,
body {
    height: 100%;
    font-family: "Open Sans", Arial, sans-serif;
}

@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}

p, ul, ol {
    margin-bottom: 1.5em;
    font-size: 16px;
    color: #848484;
    font-family: "Open Sans", Arial, sans-serif;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.video-iconFont {
    margin-right: 3px;
    font-size: 21px;
}

.clear-float:after {
    content: ' ';
    display: block;
    clear: both;
}

#header {
    height: 100%;
    width: 100%;
    background-image: url(https://img.alicdn.com/imgextra/i3/773811758/TB2OJf7bmXlpuFjy0FeXXcJbFXa_!!773811758.jpg);
    background-size: cover;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav-header {
    margin: 0 auto;
    width: 960px;
}

#logo {
    font-family: "Open Sans", Arial, sans-serif;
    margin-top: 35px;
    text-transform: uppercase;
    font-weight: 700;
    width: 25px;
    float: left;
    font-size: 30px;
}

#logo > a {
    color: white;
}

#nav-guide {
    height: 280px;
    width: 430px;
    float: right;
}

.nav-child-list {
    opacity: 0;
    position: absolute;
    padding: 4px 15px;
    transition: all 0.5s;
}

.nav-child-list > li > a:hover {
    color: white;
}

#nav-guide:hover .nav-child-list {
    opacity: 1;
}

#nav-guide:hover a {
    border-bottom: 1px solid white;
}

#nav-guide > li {
    font-size: 17px;
    line-height: 35px;
    display: inline-block;
    margin-top: 35px;
    padding-right: 15px;
}

#nav-guide > li > a:hover {
    transition: all 0.2s;
    color: white;
}

#nav-guide > li:last-child {
    padding-right: 0px;
}

.active > a {
    color: white;
}

.color-white {
    color: white;
    transition: all 0.3s;
}

.header-content {
    text-align: center;
    margin-top: 100px;
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 300 !important;
    transition: all 2s;
    overflow: hidden;
}

.header-content span {
    display: block;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 28px;
    letter-spacing: 1px;
}

.header-content span > a {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.header-content > p > a {
    color: white;
    background: rgba(239, 98, 73, 0.7);
    border: none;
    padding: 18px 36px !important;
    border-radius: 30px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
}

.header-content > p > a:last-child {
    background: rgba(0, 0, 0, 0.4);
}

.header-content > p > a:hover {
    background: rgba(239, 98, 73, 1);
}

.header-content > p > a:last-child:hover {
    background: rgba(0, 0, 0, 1);
}

.header-bottom-wrap {
    padding: 30px 0;
    background: #fff;
}

/*在header下面的小框框*/
.min-partner {
    box-shadow: 1px 1px 1px black;
    opacity: 0;
    display: flex;
    overflow: auto;
    background-color: white;
    position: absolute;
    bottom: -100px;
    width: 70%;
    height: 100px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s;
}

.min-partner .inner {
    flex:1;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 25%;
    float: left;

}

.min-partner .inner:last-child {
    background-color: #7e8c8d;
}

.min-partner .inner p {
    content: '';
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    background-color: red;
}


.min-partner .inner img {
    display: inline-block;
    vertical-align: middle;
    max-width: 65%;
    height: auto;

}

.heigh {
    height: 51px;
    background-color: pink;
}





/*
 * 下面是粒子效果的css
 */

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: red;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}